.parent{
   display: flex;
   flex-direction: row;

}

.mainParent{
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding-top: 2%;
   align-items: center;
}
.hide {
   display: none;
}